<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
		<title>Online Examination</title>
		<meta name="description" content="Online Examination System">
		<meta name="keywords" content="Online Examination System">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-cookies.js"></script>
		<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />
				    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
                <script type="text/javascript" src="js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="css/style.css">

	</head>
<body>
    	 <div id="wrap">
	    <div class="main-inner-content">
	    <header id="header" class="section cover header-bg">
	    	<div class="navbar navbar-top navbar-inverse">
				<div class="navbar-inner">
					<div class="container-fluid">
						<a class="brand" href="index.html">Online Examination System</a>
						<a class="register" href="index.html"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
					</div>
				</div>
			</div>
	<div class="container">
		<div class="col-md-12 mrg-1 text-center"><h3><strong><i><p align="center"><img src="images/logo/your-school.png" alt="Edu Expression" width="200" align="center" class="img-responsive" /> </p><p align="center"></p></i></strong></h3></div>
        </div>
	</header>
     <div id="page-content">
	<div class="container mrg">
		<div class="col-md-4 login-form" ng-app="loginApp" ng-controller="loginCtrl">
  <div class="panel-content">
  	<div class="col-sm-12" >
  		<h2 align="center" style="font-weight:500;padding-bottom:15px;margin-top:6px;margin-bottom:15px;border-bottom: 1px solid #eee"><strong>Log In</strong></h2>
  	</div>
   <form  method="POST" ng-submit="loginForm.Login()">
  <div class="form-group">
    <label for="exampleInputEmail1">Username or Email</label>
    <input type="email" class="form-control" id="name" name="name" ng-model="loginForm.name" placeholder="Enter email" required>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password </label>
    <input type="password" class="form-control" id="pass" name="pass" ng-model="loginForm.pass" placeholder="Password" required>
  </div>
  		<div class="col-sm-6">
					<div class="row">
						<p class="help-block"><a href="Forgots/password.html">Forgot Password</a></p>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="row">
						<p class="help-block"><a href="Forgots/username.html">Forgot User Name</a></p>
					</div>
				</div>
				<p class="col-sm-12" style="color:red"> {{ elogin }} </p>
  <button type="submit" class="btn btn-md btn-primary">Sign in</button><br/><br/>

</form>
  					<div class="col-sm-12">
						<p>Don't have an account! <a href="index.html"> Sign Up First </a></p>
					</div><br/>
  </div>
</div>
</div>
		</div>
	</div>

<script type="text/javascript">
var app=angular.module('loginApp',['ngCookies']);
app.controller('loginCtrl',['$scope','$cookieStore','$http',function ($scope,$cookieStore,$http){
$scope.loginForm={};
$scope.loginForm.name="";
$scope.loginForm.pass="";
$scope.elogin="";
$scope.loginForm.Login=function (){
	var  obj={
		username:$scope.loginForm.name,
		password:$scope.loginForm.pass
	};
	console.log(obj);

$http.post("/login",obj)
		      .then(function(response) {
		        var data = response.data;
						console.log(data)
		        if(response.data.err){
                 $scope.elogin=response.data.err.errmsg;
		        }
		        else if(response.status==200){
							window.location="/home";
		   // console.log(data.token);
		   //var obj ={
		   // token:data.token
		  //};
			 //$cookieStore.put('tokenObj',obj);
			 //var tokenObj=$cookieStore.get('tokenObj');
		   //localStorage.token=obj;
		   //console.log(tokenObj);
		   //window.location="/home";
            }
		    },function (error){

		    });

}

}]);
</script>
	</div>
   </div>
</body>
</html>
 <!-- <div class="col-md-4 login-form">
<form action="admin/index.html">
  <div class="form-group">
    <label for="email">Admin/Teacher ID:</label>
    <input type="email" class="form-control" id="email" placeholder="Admin/Teacher ID">
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" id="pwd" placeholder="Password">
  </div>
		<div class="col-md-6">
					<div class="row">
						<p class="help-block"><a href="Forgots/password.html">Forgot Password</a></p>
					</div>
				</div>
				<div class="col-md-6">
					<div class="row">
						<p class="help-block"><a href="Forgots/username.html">Forgot User Name</a></p>
					</div>
				</div><br/><br/>
  <button type="submit" class="btn btn-success">Submit</button>
  <br/><br/>
</form>
		</div>-->
