 <form method="post" ng-submit="examForm.examSubmit()">
                    <div class="col-lg-6">

                            <div class="form-group">
                                <label>Exam Name</label>
                                <input class="form-control" name="xname" ng-model="examForm.xname" placeholder="Exam name" type="text" required>
                            </div>
                                <div class="form-group">
                                <label>Exam Date</label>
                                <input class="form-control" name="xdate" ng-model="examForm.xdate"type="text" id="datepicker" placeholder="Exam Date" required>
                            </div>

                          <div class="form-group">
                                <label>Exam Time </label>
                                <input class="form-control" name="xtime" ng-model="examForm.xtime" placeholder="Exam Time" type="text" id="timepicker" required>
                            </div>

                    </div>
                    <div class="col-lg-6">

                           <div class="form-group">
                                <label>Description</label>
                                <input class="form-control" name="xdes" ng-model="examForm.xdes" placeholder="Description" type="text">

                            </div>
                            <div class="form-group">
                                <label>Marks</label>
                                <input class="form-control" name="xmarks" ng-model="examForm.xmarks" placeholder="Enter marks" type="text" required>
                            </div>
                            <div class="form-group">
                                <label>Duration</label>
                                <input class="form-control" name="xdur" ng-model="examForm.xdur" placeholder="In Minutes" type="text" required>
                            </div>
                    </div>

                    <div class="col-lg-12">


                    <button type="submit" class="btn btn-success" >Add Questions</button><br><br>
                    </div>

                </form>
